* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Makes width & height include padding/border */
}
html,body{
    height:100%;
    width:100%;
}
#header{
    background-color: rgb(21, 21, 46); width: 1500px;height: 300px;
    text-align: center; 
    font-size: 25px ;
    color: white;
    padding-top: 100px;
    margin-bottom: 20px
    text-transform: capitalize;
   
}
#header2{
    background-color:whitesmoke;
    width:70%; height:25%;
    font-size:20px;
    text-align: center;
    padding-top: 10px;
    margin:0 auto;
    margin-bottom:20px;
      text-transform: capitalize;

}
#header3{

    background-color: rgb(178, 217, 233);
    width: 70%; height:30%;
    text-align: center;
    padding-top:50px;
    margin:0 auto;
      text-transform: capitalize;
      margin-bottom:300px;
      font-size: 20px;
}

#h31,#h32,#h43,#h44,#h41,#h42,#h51,#h52,#h53,#h54{
    background-color:white;
    width:500px;
    height:25px;
    font-size: 20px;
    margin:0 auto;
    text-align: center;
    text-transform: capitalize;
     margin-bottom:10px;    



}
#h32{
    background-color:white;
    width:500px;
    height:25px;
    margin:0 auto;
    text-align: center;
    text-transform: capitalize;
    margin-bottom:80px;   
    font-size: 20px; 



}
#header4{
    background-color: rgb(242, 241, 198);
    width:1028px;height:280px;
    font-size: 20px;
    padding-top:50px;
    text-align: center;
    margin:0 auto;
    text-transform: capitalize;
    margin-bottom:30px;
}
#header5{
    background-color: rgb(238, 207, 221);
    width: 1028px;
    height: 280px;
    text-align: center;
    margin:0 auto;
    text-transform: capitalize;
    padding-top:50px ;
    margin-top: 55PX;
    margin-bottom:25px;

}
#header6{
    background-color:  rgb(215, 251, 194);
    width: 1028px;
    height: 280px;
    text-align: center;
    margin:0 auto;
    text-transform: capitalize;
    padding-top:50px ;
    margin-top: 5PX;
    margin-bottom:30px;

}